body{
    margin: 0;
    padding: 0;
    max-width: 95%;
    
}


.navbar{
    position:fixed;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 1;
    
}

.menu{
    position:relative;
    margin-left: auto;
    margin-right:auto ;
    justify-content: center;
    text-align: center;
    display:flex;
    list-style: none;
    
}

.menu a{
    margin: 15px;
    color: black;
    text-decoration: none;
   justify-content: center;
  
  

}

img{
    position:absolute;
    margin-top: 1%;
}


.layout{
   position: absolute;
    margin-top: 5em;
}