img {
	width: 100%;
}
.profiles {
	display: flex;
	flex-wrap: wrap;
}

.profile {
	display: flex;
}

.profile-content {
	flex-direction: column;
	width: 100%;
}

@media screen and (min-width: 40em) {
.profile { width: 50% }
}

@media screen and (min-width: 60em) {
.profile { width: 25% }
}