/* Dont change this, this is a template just copy it to ur own section ⚠ */

*{
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'Fredoka', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    padding-top:5% ;
    text-align: center;
}


section{
    align-items: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
}


nav{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 8vh;
    width: 100%;

}

.navbar{
    text-align: center;
    max-width: 100%;
}

.navbar li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 0.4%;
    color: black;
}

.navbar a{
    color: black;
    text-decoration: none;
}


.home_btn, .back_btn{
    float: left;
    margin-top: 1%;
    margin-left: 1%;   
}

.clear{
    float:none;
    clear: both;
}


.dyslexia_button , .next_btn{
 float: right;
 margin-top: 1%;
 margin-right: 1%;   
 justify-content: center;
 
}






button{
    top:0;
    border-radius: 6px;
    width: 4em;
    height: 2em;
    text-align: center;
    border-style:none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);   
}






/* Footer */
.footer{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}

hr{
    margin-bottom: 0.5%;
    list-style: none;
    width: 38%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(114, 114, 114, 0.15);
}

.footer li{
    margin-bottom: 2%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
    

.footer li a{
   text-decoration: none;
   color: black;
}

.footer_text{
    color: rgb(110, 109, 109);
}

.divider{
    color: rgba(114, 114, 114, 0.795);
}







@media screen and (max-width: 250px){
    body{
        display: none;
    }
}



/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

