body{
  margin: 0;
  padding: 1%;
  font-family: 'Fredoka', sans-serif;
}

.wrapper{
  max-width:95%;
  margin-left: auto;
  margin-right: auto;
}


.banner{
  position: fixed;
  width: fit-content;
}  
      
      

  
.logo{
  width: 7%;
  float: left;
}
        
        .contact_img{
            width: 50%;
            margin-top: 13.5%;
            margin-left: 20%;
            border-radius: 5px;
        }
        .contact_title{
          display: none;
        }
      
        .contact_desktop_title{
          position:absolute;
          text-align: center;
          margin-left: 40%;
          margin-right: 40%;
        }
      
      
      
        .nav{
         margin-left:auto;
         margin-right: auto;
        background-color: rgb(255, 255, 255);
        text-align: center;
        position:fixed;
        width: 100%;
      }

      .nav img{
        width:60%;
        
      }
      
      .nav a{
          text-decoration: none;
          
          padding: 40px 20px;
          margin: 0 1px;
          color: rgb(0, 0, 0);
        
      }
      .nav a:visited{
        color: rgb(0, 0, 0);   
      }
      
      
    
  