*{
    margin: 0;
    padding: 0;  
}

body{
    font-family: 'Fredoka', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    padding-top:5% ;
    text-align: center;
}

section{
    align-items: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
}

.layout{
    height: 100%;
}



/* NAV BAR */
nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}


.navbar{
    text-align: center;
}

.navbar li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 0.4%;
    color: black;
}

.navbar a{
    color: black;
    text-decoration: none;
}


.page{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 0.5%;
}

.page a{
    color: aliceblue;
}

.navbar img{
    display: inline-flex;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}




.dyslexia_button{
    float: right;
    margin-top: -3.2%;
    border-radius: 6px;
    width: 5%;
    height: 5vh;
    text-align: center;
    border-style:none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);     
    margin-right: 2%;
}







/* Home */
 #home{
     margin-top: -1.5%;
    background-color:#e6f0fa;
}


/* Learning materials */
#learning_materials{
    background-color: #f4f1d6;
   
}

#learning_materials_sec1{
    border-radius: 15px;
    background:#a476ff;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#learning_materials_sec2{
    border-radius: 15px;
    background:#4fff81;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#learning_materials_sec3{
    border-radius: 15px;
    background:#ff5efa;
    margin-left: auto;
    margin-right: auto;
    border: none;
}




/* Quiz */

#quiz{
    background-color: #E9CDD0;
}




 /* About us */

 #about_us{
    background-color: #d7ecd9;
}

 .profile img {
	width: 70%;
   
}
.profiles {
	display: flex;
	flex-wrap: wrap;
    position:relative;
}

.profile {
	display: flex;
}

.profile-content {
	flex-direction: column;
	width: 100%;
}

@media screen and (min-width: 40em) {
.profile { width: 50%;
}

}

@media screen and (min-width: 60em) {
.profile { 
    width: 25%;
     
}
}




.about_us_writing{
    padding-bottom: 1%;
    text-align: left;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;

}




/* Mobile and tablet*/

@media screen and (max-width: 999px){
    /* Nav */
    .dyslexia_button{
        display: none;
    }
    .navbar{
        display: none;
    }
    
    .navbutton {
        background-color:rgb(0, 0, 0);
        color: white;
        padding: 20%;
        border-radius: 10px;
        border-style:none;
        margin-top: 5%;
        margin-left: 2%;
        margin-bottom: 5%;
      }

      
      
    
      .mobile_menu{
        display:inline-block;
        max-width: 6em;
      }
      
    
      .menu{
        display: none;
        position:relative;
        width: 9em;
        background-color:gray;
        border-radius: 10%;
        z-index: 1;
      }
    
      .menu a {
        color: black;
        padding: 5%;
        text-align: center;
        text-decoration: none;
        display: block;
      }
    
      .menu a:hover {
          background-color:white;
          border-radius: 10px;
        }
       
      .mobile_menu:hover .menu {
        display: block;
      }
      
    
      .mobile_menu:hover .navbutton {
        background-color:#333;
      }



      /* Layout */
    
      .layout{
          position: relative;
         width: auto;
         height: 100%;
      }



      #learning_materials{
          position: relative;
          display:flex;
      }
    .iframe_wrapper{
        display:none;
    }

    .lm_container{
        max-height: 95%;
        width: 95%;
    }

    .profile{
        margin-left: auto;
        margin-right: auto;
    }
    
    }


    #learning_materials_sec1, #learning_materials_sec2, #learning_materials_sec3 {
        margin-bottom: 2%;
        padding: 3%;
        transform: translate(2.5%);
    }
    
    /*************************************** Desktop***************** */
@media screen and (min-width: 999px){
    /* Nav */
    .mobile_menu{
        display:none ;
    }
    
    /* Section */
    section{
        height: 100vh;
    }

    #learning_materials_sec1{
        width: 50%;
        height: 20vh;
        float: left;
        margin: 2%;
    }
        
    #learning_materials_sec2{
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 20vh;
        float: left;
        margin: 2%;    
        }
        
        #learning_materials_sec3{
            border-radius: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 20vh;
            float: left;
            margin: 2%;
            border: none;
        }

        
        .learning_materials_sec3 .learning_materials_sec2 .learning_materials_sec3{
            display: none;
        }
        
        
        
        iframe{
         margin-top: 2%;
         border-radius: 10px;
         height:80%;
         width: 50%;
         border: none;
        }
        
        
        
        .iframe_wrapper{
            height:100%;
            max-height: 95%;  
            margin-bottom: 10%;
        }
        
        .lm_container{
            max-width: 90%;
        }

          
        
}
        
    
    
    
    